<nz-spin [nzSpinning]="carregando" [nzTip]="'Processando...'">
  <nz-page-header>
      <nz-page-header-title>Disciplina</nz-page-header-title>
      <nz-page-header-subtitle>{{numeroRegistros}} registro(s)</nz-page-header-subtitle>
      <nz-page-header-extra style="display: flex">
        <button nz-button nzType="primary" (click)="onNovo()">Novo</button>
      </nz-page-header-extra>
      <nz-page-header-content>
        <nz-table #basicTable 
        [nzWidthConfig]="['auto', '100px']"
        [nzScroll]="{ y: '55vh' }"
        [nzData]="listaDisciplina">
          <thead>
            <tr>
              <th>Disciplina</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{ data.nome }}</td>
              <td>
                <a nz-button nzType="text" nz-tooltip="Editar" (click)="onEditar(data)">
                  <i nz-icon nzType="form" nzTheme="outline"></i>
                </a>
                <a nz-button nzType="text" nzDanger nz-tooltip="Excluir" (click)="onModalDeletar(data.id)">
                  <i nz-icon nzType="delete" nzTheme="outline"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-page-header-content>
    </nz-page-header>
  </nz-spin>